.main-content {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-size: cover;
	z-index: 1;
}

.header {
	display: block;
	background-size: cover;
	height: 140px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#t1 {
	flex: 1;
	font-size: 26px;
	font-weight: bolder;
	color: white;
	background-color: #0272af77;
	padding-left: 20px;
	padding-top: 30px;

}

#t2 {
	flex: 1;
	font-size: 15.5px;
	font-weight: bolder;
	color: white;
	background-color: #0272af77;
	padding-left: 20px;
	padding-top: 30px;
}

.body {
	margin-top: 40px;
	width: 85vw;
	align-self: center;
}

.account-login {
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.3s all;
}

.account-login.disable {
	transform: translateX(-200%);
	transition: 0.3s all;
}

.account-login .button {
	margin-top: 10px;
	color: white;
	font-weight: bolder;
	width: 85%;
	height: 35px;
	line-height: 35px;
	background-color: #0272af;
	transition: 0.3s all;
}
.account-login .button.disable {
	background-color: gray;
	pointer-events: none
}

.input-account {
	display: flex;
	align-items: center;
	height: 32px;
	width: 100%;
	margin: 4px;
	margin-bottom: 8px;
	border-bottom: 2px solid black;
}

.input-account image {
	margin-right: 8px;
	height: 24px;
	width: 24px;
}
.input-account input {
	//width:100%
}

.input-password {
	display: flex;
	align-items: center;
	width: 100%;
	height: 32px;
	margin: 4px;
	margin-bottom: 8px;
	border-bottom: 2px solid black;
}

.input-password image {
	margin-right: 8px;
	height: 24px;
	width: 24px;
}
.input-password input {
	//width:100%
}

.function-area {
	padding: 8px;
	justify-content: space-between;
	display: flex;
	width: 100%;
}

.function-area #t3 {
	font-size: 12px;
	font-weight: bolder;
	color: $uni-bg-color-mask;
}

.function-area #t4 {
	font-size: 12px;
	font-weight: bolder;
	color: #3c90be;
}


.email-login {
	position: fixed;
	height: 180px;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateX(0) translateY(-180px);
	transition: 0.3s all; 
}

.email-login.disable {
	transform: translateX(200%) translateY(-180px);
	transition: 0.3s all; 
}

.input-email{
	display: flex;
	align-items: center;
	height: 32px;
	width: 100%;
	margin: 4px;
	margin-bottom: 8px;
	border-bottom: 2px solid black;
}
.input-email input{
	width: 100%;
	height: 100%;
}

.input-email image{
	margin-right: 8px;
	height: 24px;
	width: 24px;
}

.input-code{
	display: flex;
	align-items: center;
	height: 32px;
	width: 100%;
	margin: 4px;
	margin-bottom: 8px;
}

.input-code input{
	width: 100%;
	height: 100%;
}
.input-code image{
	margin-right: 8px;
	height: 24px;
	width: 24px;
}

.input-code button{
	height: 100%;
	width: 35%;
	background-color: #1a62ff;
	color: white;
	font-size: small;
	transition: 0.3s all;
}
.input-code button.disable{
	pointer-events: none;
	background-color: gray;
}

.email-login .button {
	margin-top: 10px;
	color: white;
	font-weight: bolder;
	width: 85%;
	height: 35px;
	line-height: 35px;
	background-color: #0272af;
	transition: 0.3s all;
}
.email-login .button.disable {
	background-color: gray;
	pointer-events: none
}



.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15vh;
}

.footer .divider {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.footer .divider .line {
	height: 1px;
	width: 25vw;
	border-bottom: 1px solid gray;
}

.footer .divider .line text {
	font-size: 12px;
	font-weight: bolder;
	color: gray;
}

.footer image {
	margin-top: 12px;
	height: 32px;
	width: 32px;
}