	.container {
		display: flex;
		flex-direction: column;
		height: 100vh;

	}

	/* 顶部提示词样式 */
	.header-tips {
		background-color: #d1ecf1;
		color: #0c5460;
		padding: 10px;
		text-align: center;
		border-radius: 4px;
		margin-bottom: 0px;
	}

	.attendance-list {
		background-size: cover;
		flex: 1;
		overflow-y: auto;
		background-color: #fff;
	}

	.record-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
		border-bottom: 1px solid #e0e0e0;
	}

	.record-info {
		flex: 1;
	}

	.apply-makeup-btn button {
		padding: 3px 5px;
		background-color: #f5f5f5;
		color: red;
		border: none;
		border-radius: 20px;
		cursor: pointer;
	}

	.apply-makeup-btn button:disabled {
		background-color: #ccc;
		color: red;
		cursor: not-allowed;
	}



	.loading {
		text-align: center;
		color: #666;
		padding: 10px;
	}

	.picker-dialog {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.picker-container {
		background-color: white;
		padding: 60px;
		border-radius: 10px;
	}

	.picker-actions {
		display: flex;
		justify-content: space-between;
		/* 两端对齐 */
		margin-top: 20px;
	}

	.close-btn {
		background-color: #f5f5f5;
		color: #333;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		cursor: pointer;
	}

	.replenish-btn {
		background-color: #f5f5f5;
		color: #333;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		cursor: pointer;
	}

	.load-more-section {
		padding: 10px;
		text-align: center;
		background-color: #f7f7f7;
		border-radius: 10px;
	}
	.load-more-btn {
		padding: 10px;
		background-color: #f7f7f7;
		border: none;
		border-radius: 10px;
		cursor: pointer;
	}

	.load-more-btn:disabled {
		background-color: #ccc;
		cursor: not-allowed;
	}